[Desktop Entry]
Exec=/home/tkhquang/bin_common/libinput-three-finger-drag
Icon=dialog-scripts
Name=libinput-three-finger-drag
Path=
Type=Application
X-KDE-AutostartScript=true
